body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #629a9e;
    text-align: center;
  }
  
  h1{
    font-size: 150%;
    font-family: 'Times New Roman', 'Times', 'serif';
  }
  
  h2{
    font-size: 80%;
  }
  
  h3{
    font-size: 110%;
  }
  
  header{
    display: flex;
    justify-content: center;
    padding: 1em;
  }
  
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  
  button{
    width: 25%;
    height: 3em;
    background-color: #739bd4;
    border-radius: 6px;
    box-shadow: 3px 3px 2px #b52727;
    cursor: pointer;
    margin-top: 1em;
  }
  
  button:hover{
    background-color: #90c3dd;
  }
  
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }